In [22]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv")

In [23]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rows = len(df.axes[0])
cols = len(df.axes[1])
  
# Print the number of rows and columns
print("Number of Rows: " + str(rows))
print("Number of Columns: " + str(cols))

Number of Rows: 57394
Number of Columns: 49

In [6]:
print(df.dtypes)

iso_code                               object
continent                              object
location                               object
date                                   object
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
total_tests_per_thousand              float64
new_tests_per_thousand                float64
new_tests_smoothed                    float64
new_tests_smoothed_per_thousand       float64
tests_per_case                        float64
positive_rate                         float64
stringency_index                      float64
population                            float64
population_density                    float64
median_age                            float64
aged_65_older                         float64
aged_70_older                         float64
gdp_per_capita                        float64
extreme_poverty                       float64
cardiovasc_death_rate                 float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
handwashing_facilities                float64
hospital_beds_per_thousand            float64
life_expectancy                       float64
human_development_index               float64
dtype: object

In [7]:
print(df.info)

<bound method DataFrame.info of       iso_code continent       location      date  total_cases  new_cases  \
0          AFG      Asia    Afghanistan  31/12/19          NaN        0.0
1          AFG      Asia    Afghanistan  01/01/20          NaN        0.0
2          AFG      Asia    Afghanistan  02/01/20          NaN        0.0
3          AFG      Asia    Afghanistan  03/01/20          NaN        0.0
4          AFG      Asia    Afghanistan  04/01/20          NaN        0.0
...        ...       ...            ...       ...          ...        ...
57389      NaN       NaN  International  13/11/20        696.0        NaN
57390      NaN       NaN  International  14/11/20        696.0        NaN
57391      NaN       NaN  International  15/11/20        696.0        NaN
57392      NaN       NaN  International  16/11/20        696.0        NaN
57393      NaN       NaN  International  17/11/20        696.0        NaN

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                     NaN           NaN         0.0                  NaN  ...
1                     NaN           NaN         0.0                  NaN  ...
2                     NaN           NaN         0.0                  NaN  ...
3                     NaN           NaN         0.0                  NaN  ...
4                     NaN           NaN         0.0                  NaN  ...
...                   ...           ...         ...                  ...  ...
57389                 NaN           7.0         NaN                  NaN  ...
57390                 NaN           7.0         NaN                  NaN  ...
57391                 NaN           7.0         NaN                  NaN  ...
57392                 NaN           7.0         NaN                  NaN  ...
57393                 NaN           7.0         NaN                  NaN  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0            1803.987              NaN                597.029
1            1803.987              NaN                597.029
2            1803.987              NaN                597.029
3            1803.987              NaN                597.029
4            1803.987              NaN                597.029
...               ...              ...                    ...
57389             NaN              NaN                    NaN
57390             NaN              NaN                    NaN
57391             NaN              NaN                    NaN
57392             NaN              NaN                    NaN
57393             NaN              NaN                    NaN

       diabetes_prevalence  female_smokers  male_smokers  \
0                     9.59             NaN           NaN
1                     9.59             NaN           NaN
2                     9.59             NaN           NaN
3                     9.59             NaN           NaN
4                     9.59             NaN           NaN
...                    ...             ...           ...
57389                  NaN             NaN           NaN
57390                  NaN             NaN           NaN
57391                  NaN             NaN           NaN
57392                  NaN             NaN           NaN
57393                  NaN             NaN           NaN

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
0                      37.746                         0.5            64.83
1                      37.746                         0.5            64.83
2                      37.746                         0.5            64.83
3                      37.746                         0.5            64.83
4                      37.746                         0.5            64.83
...                       ...                         ...              ...
57389                     NaN                         NaN              NaN
57390                     NaN                         NaN              NaN
57391                     NaN                         NaN              NaN
57392                     NaN                         NaN              NaN
57393                     NaN                         NaN              NaN

       human_development_index
0                        0.498
1                        0.498
2                        0.498
3                        0.498
4                        0.498
...                        ...
57389                      NaN
57390                      NaN
57391                      NaN
57392                      NaN
57393                      NaN

[57394 rows x 49 columns]>

In [9]:
print(df['location'].nunique())

216

In [20]:
sort = df['continent'].value_counts()

In [21]:
print(sort[0])

14828

In [26]:
print(df['total_cases'].mean())
print(df['total_cases'].max())

167797.3688753302
55154651.0

In [27]:
quant = df['total_deaths'].quantile([0.25,0.5,0.75])
print(quant)

0.25     13.0
0.50     84.0
0.75    727.0
Name: total_deaths, dtype: float64

In [29]:
df["human_development_index"].max()

0.953